* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    color: #ffffff;
    padding: 16px 12px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* header and navigation style */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.139), rgba(0, 0, 0, 0.739)), url("../images/donation2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 40px;
    color: #FF5959;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    color: #fefefe;
    text-decoration: none;
}

.banner-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-section h1 {
    font-size: 60px;
    color: #ffffff;
}

.banner-section p {
    color: #ffffff;
    font-size: 18px;
    margin: 20px;
}

/* donate section style */
.donate-section {
    width: 50%;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
}

.donate-description {
    color: #707070;
    font-family: 18px;
    margin: 30px;
}

.donate-box {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.donate-box h3 {
    padding: 30px 24px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.tk-color h3 {
    background-color: #ff59591d;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.input-1 {
    display: block;
    border: none;
    border-bottom: 2px solid #FF5959;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.input-1::placeholder {
    color: #B3B3B3;
    font-size: 16px;
}

.input-1:focus {
    outline: none;
}

/* donate plan style */
.donate-plan {
    width: 70%;
    margin: auto;
}

.donate-plan-title {
    text-align: center;
}

.donate-plan-title h2 {
    font-weight: 700;
    font-size: 45px;
}

.donate-plan-title p {
    color: #707070;
    font-size: 18px;
    margin: 20px 0;
}

/* donate plan box style */
.donate-plan-box {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.box-1 {
    margin: 0 10px;
    padding: 40px 20px;
    background-color: rgba(79, 157, 166, 0.1);
}

.box-1 h3 {
    font-size: 22px;
    margin: 25px 0;
}

.box-1 p {
    font-size: 16px;
    color: #707070;
}

.box-2 {
    margin: 0 10px;
    padding: 50px 20px;
    background-color: rgba(255, 89, 89, 0.1);
}

.box-2 h3 {
    font-size: 22px;
    margin: 25px 0;
}

.box-2 p {
    font-size: 16px;
    color: #707070;
}

.box-3 {
    margin: 0 10px;
    padding: 50px 20px;
    background-color: #FFF4D6;
}

.box-3 h3 {
    font-size: 22px;
    margin: 25px 0;
}

.box-3 p {
    font-size: 16px;
    color: #707070;
}

/* contribute 1 style */
.contribute-1 {
    width: 70%;
    margin: 150px auto;
    display: flex;
    align-items: center;
}

.contribute1-details {
    margin-right: 100px;
}

.contribute1-details h2 {
    font-size: 45px;
}

.contribute1-details p {
    font-size: 18px;
    color: #707070;
    margin: 25px 0;
}

/* contribute 2 style */
.contribute-2 {
    width: 70%;
    margin: 150px auto;
    display: flex;
    align-items: center;
}

.contribute2-details {
    margin-left: 100px;
}

.contribute2-details h2 {
    font-size: 45px;
}

.contribute2-details p {
    font-size: 18px;
    color: #707070;
    margin: 25px 0;
}

/* update area style */
.updates {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.update-details {
    margin: 80px;
}

.update-details h2 {
    font-size: 45px;
    color: #121212;
}

.update-details p {
    font-size: 18px;
    color: #707070;
    margin: 25px 0;
}

.input-update {
    background: #FFF4D6;
    padding: 76px 188px;
}

.input-2 {
    background-color: #D9D9D9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px 0px 0px 5px;
}

.input-2:focus {
    outline: none;
}

.btn-sub {
    color: #ffffff;
    background-color: #FF5959;
    border: none;
    padding: 10px 15px;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

/* footer area style */
footer {
    color: #ffffff;
    background-color: #121212;
    text-align: center;
    padding: 50px 500px;
}

footer h2 {
    font-family: 'Pacifico', cursive;
    color: #FF5959;
}

footer p {
    font-size: 14px;
    color: #D9DBE1;
    margin: 30px 0;
}